---
import "@fontsource-variable/onest";
import Navbar from "../components/Navbar/Navbar.jsx";
import Footer from "../components/Footer.astro";
import { ViewTransitions } from "astro:transitions";

interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />

    <meta name="author" content="alexisdev" />
    <meta name="description" content={description} />
    <meta property="og:title" content={title} />
    <meta property="og:description" content="Personal Web Portfolio" />
    <meta property="og:image" content="/preview.webp" />
    <meta property="og:site_name" content={title} />
    <title>{title}</title>
    <ViewTransitions />
  </head>

  <body>
    <Navbar />
    <slot />
    <Footer />
    <style is:global>
      :root {
        --font-family: "Onest Variable", sans-serif;

        --bgcolor: #141921;
        --text-primary: #f7fafc;
        --accent-color: #4299e1;
        --text-secondary: #c2cbd7;
        --dark-secondary: #2d3748;

        --text-xs: clamp(0.8rem, 1.25vw, 0.9rem);
        --text-sm: clamp(1rem, 1.5vw, 1.1rem);
        --text-base: clamp(1.2rem, 1.75vw, 1.6rem);
        --text-lg: clamp(1.4rem, 2vw, 2rem);
        --text-xl: clamp(1.6rem, 2.25vw, 2.4rem);
        --text-2xl: clamp(1.8rem, 2.5vw, 2.8rem);
        --text-3xl: clamp(2rem, 3vw, 3.2rem);
        --text-4xl: clamp(2.2rem, 3.5vw, 3.6rem);
        --text-5xl: clamp(2.4rem, 4vw, 4rem);
        --text-6xl: clamp(2.6rem, 4.5vw, 4.4rem);
        --text-7xl: clamp(2.8rem, 5vw, 4.8rem);
      }

      * {
        box-sizing: border-box;
        padding: 0;
        margin: 0;
        scroll-behavior: smooth;
        color: var(--text-primary);
      }

      body {
        background-color: var(--bgcolor);
        background-image: radial-gradient(
          ellipse 70% 40% at 50% -20%,
          #4299e130,
          rgba(255, 255, 255, 0)
        );

        min-height: 100vh;
        color: var(--text-primary);
        overflow-x: hidden;
        max-width: 1150px;

        margin: auto;
        padding-inline: 1rem;
        font-family: var(--font-family);
      }

      html {
        scroll-behavior: smooth;
      }

      .container {
        margin: auto;
      }

      .accent-color {
        color: var(--accent-color);
      }

      p {
        line-height: 1.8rem;
        font-size: var(--text-sm);
        color: var(--text-secondary);
        margin-bottom: 0.5rem;
      }

      .icon {
        transition: all 0.15s ease-in-out;
        height: 2.4rem;
        width: 2.4rem;
        padding: 0.2rem;
        border-radius: 50%;
      }

      a > .icon:hover {
        stroke: var(--accent-color);
      }

      .icon-external-link {
        height: 1.2rem;
        width: 1.2em;
      }
    </style>
  </body>
</html>
